
<section  class="grid margin-bottom-10" style="display:flexbox; width:100%;">
    <h1 class="s-12 text-white text-size-80 text-strong text-white margin-top-20 margin-bottom-20 center text-center">Welcome to Payee</h1>
    <img style="    max-width: 250px; width: 100%;" class="center" src="/img/download.png">
    <div class="s-12 text-white text-size-20 text-strong text-white  center text-center">
        <p class="text-size-30">Payee is platform to seamlessly allow users to Send Crypto 
            without having to remember and copy paste bulky and long wallet Addresses</p>
            <br>
            <p class="text-size-30">With Payee Now send money directly via username,
                 and monitor All transactions at single place
        </p>    <br>
        <p class="text-size-30">Create an account or login</p>
        <p class="text-size-30">
    <a style="background-color: black;padding:10px; margin:10px" class="text-size-30" href="/users/register">Register  </a> | |
    
    <a  style="background-color: black;padding:10px; margin:10px" class="text-size-30" href="/users/login">  Login</a>
</p>
    </div>
</section>
    